particle {
    /*transform-origin: center;*/
    /*transform: translate(-50%, -50%);*/
}

particle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.debug-particle {
    border: solid red 1px;
}

emitter {
    position: fixed;
    transform: translate(-50%, -50%);
}

.emitter-debug-circle {
    border-radius: 50%;
    border: solid red 1px;
}

.emitter-debug-rect {
    border: solid red 1px;
}