{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подключение к боту</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'quizStyle.css' %}" rel="stylesheet">
</head>
<body style="overflow: hidden;">
<div class="bg-rect-tl-1"></div>
<div class="bg-rect-tl-2"></div>
<div class="bg-rect-tl-3"></div>

<div class="bg-rect-tr-1"></div>
<div class="bg-rect-tr-2"></div>
<div class="bg-rect-tr-3"></div>

<div class="bg-rect-bl-1"></div>
<div class="bg-rect-bl-2"></div>
<div class="bg-rect-bl-3"></div>

<div class="bg-rect-br-1"></div>
<div class="bg-rect-br-2"></div>
<div class="bg-rect-br-3"></div>

<div class="fullpage">
    <div class="quiz-block">
        <div class="block-content">
            <h2>Подключение к боту</h2>
            <p>Осталось подключить вас к боту, чтобы он присылал вам ваши результаты и новости</p>
            <a href="http://t.me/tlearn_quiz_bot"><button class="btn btn-primary">Открыть бота</button></a>
        </div>
    </div>

</div>
</body>
</html>