{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Effect sandbox</title>
    <link rel="stylesheet" href="{% static 'effects/effects.css' %}">

</head>
<body>
{#<img src="{% static 'imgs/check.png' %}">#}
    <script src="{% static 'js/effects.js' %}"></script>
    <script>


        let emitter = new Emitter({
            'duration' : 0.1,
            'amount' : 200,
            'particle' : {
                'pos' : COORD_MOUSE,
                'speed' : 10,
                'width' : 50,
                'height' : 50,
                'lifetime' : 1,
                'sprite' : "{% static 'imgs/sparkler.png' %}",
                'die' : new ParticleDieProcess(4, 0, 0.5),
                'acceleration' : 0,
                'gravity' : false,
                'gravityScale' : 40
            }
        });

        document.addEventListener("mousedown", (event) => {
            emitter.play();
        });

    </script>
</body>
</html>