{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TLearn Квиз</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'quizStyle.css' %}" rel="stylesheet">
</head>
<body style="overflow: hidden;">
<div class="bg-rect-tl-1"></div>
<div class="bg-rect-tl-2"></div>
<div class="bg-rect-tl-3"></div>

<div class="bg-rect-tr-1"></div>
<div class="bg-rect-tr-2"></div>
<div class="bg-rect-tr-3"></div>

<div class="bg-rect-bl-1"></div>
<div class="bg-rect-bl-2"></div>
<div class="bg-rect-bl-3"></div>

<div class="bg-rect-br-1"></div>
<div class="bg-rect-br-2"></div>
<div class="bg-rect-br-3"></div>

<div class="fullpage">
    <div class="quiz-block">
        <div class="block-content">
            <h1>TLearn Квиз</h1>
            <p>Полезное и познавательное увлечение для всей семьи!</p>
        </div>
        <div class="block-content">
            <h2>Активные квизы</h2>
            {% if not activeQuiz %}
                <p>Активных квизов нет</p>
            {% else %}
                {% for quiz in activeQuiz %}
                    <p><a href="/quiz/{{ quiz.id }}">{{ quiz.quizTitle }}</a> заканчивается {{ quiz.quizEndDate }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="block-content">
            <h2>Предстоящие квизы</h2>
            {% if not futureQuiz %}
                <p>Ближайших квизов нет</p>
            {% else %}
                {% for quiz in futureQuiz %}
                    <p><a href="/quiz/{{ quiz.id }}">{{ quiz.quizTitle }}</a> в {{ quiz.quizStartDate }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>