{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Квиз #{{ quizId }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'quizStyle.css' %}" rel="stylesheet">
</head>
<body style="overflow-x: hidden;">

<div class="bg-rect-tl-1"></div>
<div class="bg-rect-tl-2"></div>
<div class="bg-rect-tl-3"></div>

<div class="bg-rect-tr-1"></div>
<div class="bg-rect-tr-2"></div>
<div class="bg-rect-tr-3"></div>

<div class="bg-rect-bl-1"></div>
<div class="bg-rect-bl-2"></div>
<div class="bg-rect-bl-3"></div>

<div class="bg-rect-br-1"></div>
<div class="bg-rect-br-2"></div>
<div class="bg-rect-br-3"></div>


    <div class="quiz-answer-button"></div>
    <div class="quiz-answer-timer qat-idle"></div>

<div id="question-timer" class="question-timer hide"></div>

<div class="fullpage">


    <div class="d-flex align-item-center justify-content-between">
        <div class="quiz-block text-center d-sm-flex justify-content-between align-item-center"
             id="welcome-area">
            <div>
                <div class="d-flex align-item-center justify-content-between">
                    {% if not user.is_authenticated %}
                        <div class="block-content error">
                            <b>Войдите в личный аккаунт, чтобы принять участие в квизе</b><br>
                            <a style="color: white;"
                               href="{% url 'login' %}?redirect={{ request.get_full_path }}">
                                Войти <i class='bx bxs-log-in'></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="block-content ok">
                            Рады снова видеть тебя, {{ user.username }}!<br>
                            <a style="color: white;"

                               href="{% url 'login' %}?auto=logout&redirect={{ request.get_full_path }}">
                                Это не вы? Войдите в свой аккаунт!<i
                                    class='bx bxs-log-out'></i></a>
                        </div>
                    {% endif %}
                </div>
                <div class="block-content">
                    <p>Квиз #{{ quizId }}</p>
                    <h1 style="font-weight: normal; font-size: 48px;">{{ quizObj.quizTitle }}</h1>
                </div>


                {% if not quizObj %}
                    <h1>Такого квиза не существует</h1>
                {% else %}
                    {% if now >= quizObj.quizStartDate %}
                        <p>Квиз идет до {{ quizObj.quizEndDate }}</p>

                        {% if user.is_authenticated %}
                            <buttton class="btn btn-primary" onclick="StartQuiz();"><i class='bx bx-play'></i> Начать
                                квиз
                            </buttton>
                        {% endif %}
                    {% else %}
                        <div class="block-content">
                            <p>Начало через</p>
                            <h1 style="font-weight: normal; font-size: 48px;"><span id="leftMins"></span> мин. <span
                                    id="leftSec"></span> сек.</h1>
                        </div>

                    {% endif %}
                {% endif %}
            </div>
            <div class="block-content">
                <table id="leader-board" style="">
                    <tr style="padding: 10px;">
                        <th>Место</th>
                        <th>Участник</th>
                        <th>Счёт</th>
                    </tr>
                </table>
            </div>


        </div>

        <div class="quiz-block text-center hide" id="quiz-area">
            <div>
                <p class="text-muted" id="question-counter-area">Вопрос 1</p>
                <h3 id="question-area">Текст вопроса тут</h3>

                <p>За правильный ответ вы получите <span id="scores-reward"></span> баллов</p>
            </div>
            <button class="btn btn-primary mt-3" id="question-answer-1" onclick="AcceptAnswer(this);">Ответ 1</button>
            <br>
            <button class="btn btn-primary mt-3" id="question-answer-2" onclick="AcceptAnswer(this);">Ответ 1</button>
            <br>
            <button class="btn btn-primary mt-3" id="question-answer-3" onclick="AcceptAnswer(this);">Ответ 1</button>
            <br>
            <button class="btn btn-primary mt-3" id="question-answer-4" onclick="AcceptAnswer(this);">Ответ 1</button>
            <br>
        </div>

        <div class="quiz-block text-center hide" id="quiz-end-area">
            <div>
                <h4 id="question-area">Квиз окончен!</h4>
                <p>Ваш результат</p>
                <h5 id="quiz-result-area"></h5>
                <h3 id="quiz-scores-area"></h3>
                <p id="sending-res-status-area" class="block-content"></p>
                <button class="btn btn-primary" onclick="location.reload();">Посмотреть таблицу лидеров</button>
            </div>
        </div>

        <div class="quiz-block text-center hide" id="quiz-not-begin-area">
            <div>
                <h4 id="question-area">Квиз еще не начался</h4>
                <p>Кажется, вы пытались начать квиз раньше, чем остальные игроки. При чем предприняли попытку
                    воспользоваться или найти уязвимости. Пожалуйста, больше не делайте так.</p>
                <p class="text-muted">Перезагрузите страницу</p>
            </div>
        </div>

        <div class="quiz-block text-center hide" id="quiz-loading-area">
            <div>
                <h4 id="question-area">Загрузка</h4>
                <p class="text-muted">Пожалуйста, подождите... <i class='bx bx-loader-circle bx-spin'></i></p>
            </div>
        </div>

        <div class="quiz-block text-center hide" id="quiz-finished-area">
            <div>
                <h4 id="question-area">Квиз окончен!</h4>
                <p class="text-muted">Этот квиз уже окончен</p>
            </div>
        </div>

    </div>
</div>

<script>

    // MUSIC
    let waitingMusic = new Audio("https://academy.tlearn.ru/quiz_stuff/back_music/QuizWaiting.wav");
    let quizStarted = new Audio("https://academy.tlearn.ru/quiz_stuff/back_music/QuizStart.wav");
    let quizEnd = new Audio("https://academy.tlearn.ru/quiz_stuff/back_music/QuizEnd.wav");
    let quizCorrect = new Audio("https://academy.tlearn.ru/quiz_stuff/back_music/QuizCorrect.wav");


    // QUIZ DATETIME STUFF
    let startDate = new Date("{{ quizObj.quizStartDate.isoformat }}");
    let now = new Date();

    let left = Math.floor((startDate - now) / 1000);

    let leftMins = Math.floor(left / 60);
    let leftSec = left - (leftMins * 60);

    setInterval(() => {
        let answerBtn = document.querySelector(".quiz-answer-button");
        answerBtn.style.height = String(answerBtn.offsetWidth) + "px";
        let answerBtnGlowing = document.querySelector(".quiz-answer-timer");
        answerBtnGlowing.style.height = String(answerBtnGlowing.offsetWidth) + "px";
    }, 10);


    {% if now < quizObj.quizStartDate %}
        document.querySelector("#leftMins").innerHTML = String(leftMins);
        document.querySelector("#leftSec").innerHTML = String(leftSec);
        setInterval(() => {
            let startDate = new Date("{{ quizObj.quizStartDate.isoformat }}");
            let now = new Date();

            let left = Math.floor((startDate - now) / 1000);

            if (left <= 0) {
                location.reload();
            }

            let leftMins = Math.floor(left / 60);
            let leftSec = left - (leftMins * 60);

            document.querySelector("#leftMins").innerHTML = String(leftMins);
            document.querySelector("#leftSec").innerHTML = String(leftSec);
        }, 1000);

        function PlayBack() {
            waitingMusic.play();
            document.querySelector("#audio-perm-btn").style.display = "none";
        }
    {% else %}
        // TIMER STUFF
        let timeForAnswer = 10;
        let timeLeft = 10;
        let timer = document.querySelector("#question-timer");

        // SCORES STUFF
        let scores = 0;
        let scoresForQuestion;
        let currentScoresReward;

        let timerInterval;


        // QUIZ QUESTIONS STUFF
        let questionList = [];
        let answers = [];
        let corrects = [];
        let currentQuestion = 0;
        let playerAnswers = [];
        let playerRes = 0;



        {% if now >= quizObj.quizEndDate %}
            document.querySelector("#welcome-area").style.display = "none";
            document.querySelector("#welcome-area").classList.remove("d-sm-flex");
            console.log(document.querySelector("#welcome-area"));

            document.querySelector("#quiz-finished-area").style.display = "block";
        {% endif %}

        function getCookie(name) {
            let cookie = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return cookie ? cookie[2] : null;
        }

        async function CheckAccess() {
            let data = new FormData();
            data.append("quizId", {{ quizId }});
            let resp = await fetch("{% url 'apiCheckAccessToQuiz' %}", {
                method: "post",
                body: data,
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            });
            return await resp.json();
        }

        async function SendResults(scores) {
            let data = new FormData();
            data.append("quizId", {{ quizId }});
            data.append("scores", scores);
            let resp = await fetch("{% url 'apiSendQuizResult' %}", {
                method: "post",
                body: data,
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            });

            return await resp.json();
        }

        async function GetQuizLeaders() {
            let data = new FormData();
            data.append("quizId", {{ quizId }});
            let resp = await fetch("{% url 'apiGetQuizLeaders' %}", {
                method: "post",
                body: data,
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            });
            return await resp.json();
        }

        CheckAccess();





        {% for q in quizObj.quizQuestions.all %}
            questionList.push("{{ q.questionText }}");
            {% for a in q.questionAnswers.all %}
                answers.push("{{ a.answerText }}");
            {% endfor %}
            console.log("{{ q.questionText }}");
        {% endfor %}

        {% for c in corrects %}
            corrects.push("{{ c|safe }}");
            console.log("Correct: {{ c|safe }}");
        {% endfor %}

        async function SetCurrentQuestion() {

            document.querySelector('#quiz-loading-area').style.display = "block";
            document.querySelector("#quiz-area").style.display = "none";

            let timeAccess = await CheckAccess();
            document.querySelector('#quiz-loading-area').style.display = "none";
            if (timeAccess.ok) {
                document.querySelector("#quiz-area").style.display = "block";
                if (currentQuestion >= questionList.length) {
                    clearInterval(timerInterval);
                    for (let i = 0; i < playerAnswers.length; i++) {
                        if (playerAnswers[i] === corrects[i]) {
                            playerRes += 1;
                        }
                    }

                    quizEnd.play();
                    console.log("RESULT: " + String(playerRes));
                    document.querySelector("#quiz-result-area").innerHTML = `${playerRes} / ${corrects.length}`;
                    document.querySelector("#quiz-scores-area").innerHTML = `Вы набрали ${scores} очков`;

                    document.querySelector("#quiz-area").style.display = "none";
                    document.querySelector("#question-timer").style.display = "none";
                    document.querySelector("#quiz-end-area").style.display = "block";
                    console.log(playerAnswers);

                    let statusLabel = document.querySelector("#sending-res-status-area");
                    statusLabel.innerHTML = "<span class='text-muted'>Отправляем данные... <i class='bx bx-loader-circle bx-spin' ></i></span>";

                    let res = await SendResults(scores);
                    if (res.ok) {
                        statusLabel.classList.add("ok");
                        statusLabel.innerHTML = "<span>Ваши результаты учтены <i class='bx bx-check' ></i></span>";
                    } else {
                        statusLabel.classList.add("error");
                        statusLabel.innerHTML = `<span>Ваши результаты не учтены. Причина: ${res.verbose}</span>`;
                    }
                } else {

                    timeLeft = timeForAnswer;
                    currentScoresReward = scoresForQuestion;
                    timerInterval = setInterval(() => {
                        timeLeft -= 10 / 1000
                        timer.style.width = String(100 / timeForAnswer * timeLeft) + "%";
                        console.log (document.querySelector('.quiz-answer-glow'));
                        console.log (360 / timeForAnswer * timeLeft);
                        document.querySelector('.quiz-answer-timer').style.background = `conic-gradient(white ${360 - 360 / timeForAnswer * timeLeft}deg, #316BFF ${360 - 360 / timeForAnswer * timeLeft}deg 360deg)`;
                        if (currentScoresReward > Math.floor(scoresForQuestion / 2)) {
                            currentScoresReward = Math.floor(scoresForQuestion - (scoresForQuestion / 2 / timeForAnswer * (timeForAnswer - timeLeft)));
                        }
                        document.querySelector("#scores-reward").innerHTML = String(currentScoresReward);
                        if (timeLeft <= 0) AcceptAnswer(null);
                    }, 10);
                    document.querySelector("#question-area").innerHTML = questionList[currentQuestion];

                    document.querySelector("#question-counter-area").innerHTML = `Вопрос ${currentQuestion + 1} из ${corrects.length}`;

                    document.querySelector("#question-answer-1").innerHTML = answers[currentQuestion * 4 + 0];
                    document.querySelector("#question-answer-2").innerHTML = answers[currentQuestion * 4 + 1];
                    document.querySelector("#question-answer-3").innerHTML = answers[currentQuestion * 4 + 2];
                    document.querySelector("#question-answer-4").innerHTML = answers[currentQuestion * 4 + 3];

                    document.querySelector("#question-answer-1").setAttribute("answer", answers[currentQuestion * 4 + 0]);
                    document.querySelector("#question-answer-2").setAttribute("answer", answers[currentQuestion * 4 + 1]);
                    document.querySelector("#question-answer-3").setAttribute("answer", answers[currentQuestion * 4 + 2]);
                    document.querySelector("#question-answer-4").setAttribute("answer", answers[currentQuestion * 4 + 3]);
                }
            } else {
                document.querySelector("#quiz-not-begin-area").style.display = "block";
            }

        }

        async function StartQuiz() {
            document.querySelector("#welcome-area").style.display = "none";
            document.querySelector("#welcome-area").classList.remove("d-sm-flex");
            document.querySelector("#quiz-loading-area").style.display = "block";
            let res = await CheckAccess();
            document.querySelector("#quiz-loading-area").style.display = "none";
            if (res.ok) {
                document.querySelector("#quiz-area").style.display = "block";
                {#document.querySelector("#question-timer").style.display = "block";#}

                waitingMusic.pause();
                quizStarted.play();
                document.querySelector(".quiz-answer-timer").classList.remove("qat-idle");
                document.querySelector(".quiz-answer-timer").classList.add("qat-timer");

                SetCurrentQuestion();
            } else {
                document.querySelector("#quiz-not-begin-area").style.display = "block";
                document.querySelector("#welcome-area").style.display = "none";
                document.querySelector("#welcome-area").classList.remove("d-sm-flex");
            }

            scoresForQuestion = Math.floor(100 / corrects.length);
        }

        function AcceptAnswer(src) {
            let a = '';
            clearInterval(timerInterval);
            if (src == null) {
                playerAnswers.push('');
                a = '';
            } else {
                playerAnswers.push(src.getAttribute("answer"));
                a = src.getAttribute("answer");
            }
            if (a === corrects[currentQuestion]) {
                quizCorrect.pause();
                scores += currentScoresReward;
                quizCorrect.play();

            }
            currentQuestion += 1;
            SetCurrentQuestion();
        }

    {% endif %}

    async function GetQuizLeaders() {
            let data = new FormData();
            data.append("quizId", {{ quizId }});
            let resp = await fetch("{% url 'apiGetQuizLeaders' %}", {
                method: "post",
                body: data,
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            });
            return await resp.json();
        }

async function ShowLeaderTable() {
            let board = await GetQuizLeaders();
            console.log(board);
            let boardTable = document.querySelector("#leader-board");

            let place = 1;

            console.log(board.data.all);

            for (var k in board.data.all) {
                let cl = '';
                if (board.data.all[k].username === board.data.player.username) {
                    boardTable.innerHTML += `<tr>
                        <td colspan="3">
                        <div class='currentPlayer d-flex align-item-center justify-content-between' style='width: 100%;'>
                            <div>${place}</div>
                            <div>${board.data.all[k].username}</div>
                            <div>${board.data.all[k].scores}</div>
                        </div>
                        </td>
                        </tr>
                    `;
                } else {
                    boardTable.innerHTML += `<tr>
                                        <td>${place}</td>
                                        <td>${board.data.all[k].username}</td>
                                        <td>${board.data.all[k].scores}</td>
                                     </tr>`;

                }
                place += 1;
            }
        }



    ShowLeaderTable();
</script>

</body>
</html>