{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация прошла успешно</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'quizStyle.css' %}" rel="stylesheet">
</head>
<body>
<div class="fullpage border border-2">
    <div class="d-flex align-item-center justify-content-between">
        <div class="quiz-block text-center" id="welcome-area">
            <h2>Вы зарегистрированы</h2>
            <p>Ура! Вы зарегистрированы, {{ request.user.username }}!</p>
            {% if request.GET.invited == '1' %}
                <div class="alert alert-primary">
                    <p><b>Вы присоединились по приглашению</b></p>
                    <p>Вы получили +200 очков опыта</p>
                </div>
                <div class="quiz-popup-float" id="quiz-popup" style="display: none;">
                    <p><b>Quiz Popup</b></p>
                    <p>Текст сообщения</p>
                </div>
                <script src="{% static 'js/QuizPopup.js' %}"></script>
                <script>
                    ShowLevelData(200, 200);
                </script>
            {% endif %}
            <a href="{% url 'index' %}" style="color: white;">Перейти на главную страницу</a>
        </div>
    </div>
</div>
</body>
</html>