{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваша статистика</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'quizStyle.css' %}" rel="stylesheet">
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
</head>
<body style="overflow-x: hidden;">



<div class="bg-rect-tl-1"></div>
<div class="bg-rect-tl-2"></div>
<div class="bg-rect-tl-3"></div>

<div class="bg-rect-tr-1"></div>
<div class="bg-rect-tr-2"></div>
<div class="bg-rect-tr-3"></div>

<div class="bg-rect-bl-1"></div>
<div class="bg-rect-bl-2"></div>
<div class="bg-rect-bl-3"></div>

<div class="bg-rect-br-1"></div>
<div class="bg-rect-br-2"></div>
<div class="bg-rect-br-3"></div>

<style>

</style>

<div class="fullpage">
    <div class="quiz-block" style="overflow:auto; max-height: 100%;">
        <div class="block-content">
            <h1>🏆 Ваша статистика</h1>

        </div>
        {% if not user.is_authenticated %}
            <div class="block-content error">
                <p><b>Статистика недоступна</b></p>
                <p>Вы не авторизированны. <a href="{% url 'login' %}?redirect={{ request.get_full_path }}">Войдите в
                    свой личный кабинет</a>.</p>
            </div>
        {% else %}
            <div class="d-sm-flex justify-content-between">
                <div class="block-content">
                    <p>Вы поучаствовали в</p>
                    <h2>{{ quizCount }}<span style="font-size: 16px"> квизах</span></h2>
                </div>
                <div class="block-content">
                    <p>Ваш суммарный счет</p>
                    <h2>{{ totalScores }}<span style="font-size: 16px"> очк{{ totalScoresPostfix }}</span></h2>
                </div>
                <div class="block-content">
                    <p>Ваш средний счет</p>
                    <h2>{{ avScores }}<span style="font-size: 16px"> очк{{ avScoresPostfix }}</span></h2>
                </div>
            </div>
            <div class="block-content">
                <div class="text-center" style="width: 100%;">
                    <h2>Ваша лига</h2>
                </div>

                <div class="text-center" style="height: 300%">
                    <p><b>Бронзовая лига</b></p>
                    <model-viewer style='width: 100%; height: 300px;' src="{{ leagueBadge }}" alt="VR Headset" auto-rotate camera-controls ios-src="{{ leagueBadge }}"></model-viewer>
                </div>
                <div class="text-center" style="width: 100%;">


                    <p>Уровень {{ currentLevel }}</p>
                    <div class="xpbar-back">
                        <div class="xpbar">

                        </div>
                    </div>
                    <p>{{ currentXP }} / {{ xpNeed }}</p>
                </div>
            </div>
            <div class="block-content">
                <button class="btn btn-primary" onclick="DownloadStats(this);">Скачать статистику</button></a>
            </div>
        {% endif %}
    </div>
</div>

<div class="quiz-popup" id="quiz-popup" style="display: none;">
    <p><b>Quiz Popup</b></p>
    <p>Текст сообщения</p>
</div>

<script src="{% static 'js/QuizPopup.js' %}"></script>
<script>
    document.querySelector('.xpbar').style.width = String(100 / {{ xpNeed }} * {{ currentXP }}) + "%";

    async function DownloadStats (src) {
        src.innerHTML = "Формируем статистику...";
        src.classList.add('disabled');
        let resp = await fetch('{% url 'statsDownload' %}');
        let res = await resp.json();
        src.innerHTML = "Скачать статистику";
        src.classList.remove('disabled');
        const anchor = document.createElement('a');
        anchor.setAttribute('download', '');
        anchor.href = res.url;
        anchor.download = "Ваша статистика TLearnQUIZ.png";
        document.body.appendChild(anchor);
        anchor.click();
        document.body.removeChild(anchor);
    }
</script>
</body>
</html>